.container {
  margin: 20px;
  margin-top: 10%;
}

@media (max-width: 600px) {
  .container {
    margin-top: 20%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.spot {
  width: 60px;
  height: 60px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.available {
  background-color: green;
  color: white;
}

.reserved {
  background-color: red;
  color: white;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
}

table {
  width: 100%;
  margin-top: 20px;
  border: 2px solid #000000; /* Borde para el contenedor de reservas */
  border-radius: 10px; /* Bordes redondeados */
}

.container {
  padding: 20px;
  border-radius: 10px; /* Bordes redondeados */
  background-color: #fff; /* Fondo blanco para el contenedor */
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5),
    /* Sombra interna difusa */ inset 0 0 30px rgba(0, 0, 0, 0.4),
    /* Sombra interna más difusa */ inset 0 0 45px rgba(0, 0, 0, 0.3); /* Sombra interna aún más difusa */
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Espacio entre la fila de spots y las reservas */
}

.spot {
  width: 50px;
  height: 50px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #ccc; /* Borde para cada spot */
  border-radius: 5px; /* Bordes redondeados para spots */
}

.available {
  background-color: #a8e6cf; /* Color para spots disponibles */
}

.reserved {
  background-color: #ff8b94; /* Color para spots reservados */
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #000;
  padding: 20px;
  z-index: 1000; /* Asegura que el popup esté por encima de otros elementos */
}

.table {
  width: 100%;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
}

.mascot-img {
  width: 100%; /* Asegura que la imagen ocupe el 100% de su contenedor */
  max-width: 300px; /* Ajusta este valor según sea necesario */
  height: auto; /* Mantiene la proporción de la imagen */
}

.mascot-img-especial {
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  height: 65%; /* Mantiene la proporción de la imagen */
  image-rendering: -webkit-optimize-contrast; /* Mejora la calidad de la imagen en navegadores WebKit */
  image-rendering: crisp-edges; /* Mejora la calidad de la imagen en otros navegadores */
}
