.banner {
  background-image: url("../../../../src/assets/img/wallpaperflare.com_wallpaper.jpg");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  padding: 25%;
  position: relative;
  z-index: 1;
}

.hm {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: italic;
}
.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
  opacity: 0.6;
}
