.container {
  width: 100%;
}
#mascots {
  text-align: center;
  margin-left: 5%;
}
#mascot1 {
  margin-top: 3%;
  margin-left: 1.5%;
  margin-right: -12%;
  height: auto;
  width: auto;
}

#mascots-center {
  margin-left: 13%;
}
#mascot2 {
  width: 350px;
  margin-left: 0%;
}

#root {
  text-align: center;
}
