@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

.menu {
  background-color: #553662;
}

.navbar-brand {
  font-size: large;
  margin-right: 8px;
}

#about-us-menu,
#reservations-menu,
#home-menu {
  font-family: "Poppins", sans-serif;
}

#reservations-menu {
  padding-top: 14px;
}

#home-menu {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: italic;
}

#H {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: italic;
}

#about-us-menu {
  padding-top: 12px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: italic;
}
